<app-header></app-header>
<div class="user-list-container">
     <h1 class="title">Driver List</h1>

     <app-table [columns]="columns" [data]="users" [loading]="loading" (rowClick)="onRowClick($event)"
          (sortChange)="onSortChange($event)">

          <!-- Define the templates with proper references -->
          <ng-template #profileImageTemplate let-user="$implicit">
               <img [src]="user.profileImage" alt="Profile Image" class="profile-image" />
          </ng-template>

          <ng-template #actionsTemplate let-user="$implicit">
               <button class="view-button" [routerLink]="['/admin/driver']" [queryParams]="{ id: user.userId }">
                    View Profile
               </button>
          </ng-template>
     </app-table>
</div>