.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('../../../../../../assets/img/landing-page/navbar.png'); /* Specify the path to your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.logo {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); 
}

.sidebar {
  position: fixed;
  top: 0;
  right: -150px; 
  width: 150px;
  height: 100%;
  background-color: #333;
  color: white;
  transition: right 0.3s ease;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.sidebar.active {
  right: 0; 
}

.toggle-btn {
  position: absolute;
  top: 20px;
  left: -40px; 
  width: 40px;
  height: 40px;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

.toggle-btn:hover {
  background-color: #444;
}

.user-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.user-btn:hover {
  background-color: #45a049;
}

.logout-btn {
  background-color: #c20824;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #6c3705;
}



.social-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.social-icons a {
  color: white;
  margin: 10px 0;
  text-decoration: none;
  font-size: 20px;
}

.social-icons a:hover {
  color: #ffcc00;
}

.login-btn {
  background-color: #ffcc00;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.login-btn:hover {
  background-color: #e6b800;
}

@media (max-width: 768px) {
  .sidebar {
    width: 150px;
    right: -150px
  }
}