<!-- Navbar -->
<nav class="navbar">
  <div class="logo" [routerLink]="['/user']">EEZY CABS</div>
</nav>

<!-- Sidebar -->
<div class="sidebar" [ngClass]="{'active': sidebarOpen}">
  <button class="toggle-btn" (click)="toggleSidebar()" aria-label="Toggle sidebar">
    <span *ngIf="!sidebarOpen">&#9776;</span>
    <span *ngIf="sidebarOpen">&times;</span>
  </button>

  <div class="social-icons">
    <button *ngIf="!isUserLoggedIn()" class="login-btn" [routerLink]="['/auth/login']">Login</button>
    <button *ngIf="isUserLoggedIn()" class="user-btn" [routerLink]="['/user/profile']"> {{ userName }} </button>
    <a><i class="fab fa-facebook-f"></i></a>
    <a><i class="fab fa-twitter"></i></a>
    <a><i class="fab fa-instagram"></i></a>
    <button *ngIf="isUserLoggedIn()" (click)="Logout()" class="logout-btn">
      Logout
    </button>
  </div>
</div>
